services:
  - type: web
    name: hookahplace-bonus
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: TELEGRAM_BOT_TOKEN
        value: 8484396546:AAGu4qusRZnvKPoF8leX5C8trbWh_xeELME
      - key: DATABASE_PATH
        value: ./database.sqlite
